/* line 4, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/*

    Drastic Dark
    by Juan Maria Martinez Arce
       juan[at]insignia4u.com
*/
/* line 2, ../../../app/stylesheets/partials/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 6, ../../../app/stylesheets/partials/_sticky-footer.scss */
#wrap {
  min-height: 100%;
}

/* line 10, ../../../app/stylesheets/partials/_sticky-footer.scss */
#main {
  overflow: auto;
  padding-bottom: 20px;
}

/* line 15, ../../../app/stylesheets/partials/_sticky-footer.scss */
#footer {
  position: relative;
  margin-top: -20px;
  height: 20px;
  clear: both;
}

/* line 29, ../../../app/stylesheets/screen.scss */
body.wat {
  font-size: 12px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* pagination */
  /* tables */
  /* forms */
  /* lists */
  /* box */
  /*  Inspired by http://particletree.com/features/rediscovering-the-button-element */
  color: #222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;
  /* pagination */
  /* tables */
  /* forms */
  /* flash-messages */
  /* lists */
  /* box */
  /* rounded borders */
}
/* line 9, ../../../app/stylesheets/partials/_hibou.scss */
body.wat * {
  margin: 0;
  padding: 0;
}
/* line 10, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .clear {
  clear: both;
  height: 0;
}
/* line 12, ../../../app/stylesheets/partials/_hibou.scss */
body.wat h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal;
}
/* line 13, ../../../app/stylesheets/partials/_hibou.scss */
body.wat h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
}
/* line 14, ../../../app/stylesheets/partials/_hibou.scss */
body.wat h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}
/* line 15, ../../../app/stylesheets/partials/_hibou.scss */
body.wat h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}
/* line 16, ../../../app/stylesheets/partials/_hibou.scss */
body.wat hr {
  height: 1px;
  border: 0;
}
/* line 17, ../../../app/stylesheets/partials/_hibou.scss */
body.wat p {
  margin: 15px 0;
}
/* line 18, ../../../app/stylesheets/partials/_hibou.scss */
body.wat a img {
  border: none;
}
/* line 21, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #container {
  min-width: 960px;
}
/* line 25, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #header, body.wat #wrapper {
  padding: 0 20px;
}
/* line 29, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #header {
  position: relative;
  padding-top: 1px;
}
/* line 33, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 26px;
  float: left;
}
/* line 39, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #header h1 a:link, body.wat #header h1 a:active, body.wat #header h1 a:hover, body.wat #header h1 a:visited {
  text-decoration: none;
}
/* line 44, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #header h3 {
  float: left;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 0 26px;
  padding: 18px 0px 14px;
}
/* line 53, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main {
  width: 70%;
  float: left;
}
/* line 57, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
/* line 62, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 66, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main .main p:first-child {
  margin-top: 0;
}
/* line 71, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .actions-bar {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 1px;
}
/* line 76, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .actions-bar .actions {
  float: left;
}
/* line 80, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .actions-bar .pagination {
  float: right;
  padding: 1px 0;
}
/* line 87, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar {
  width: 25%;
  float: right;
}
/* line 91, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  font-size: 13px;
}
/* line 97, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
/* line 102, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar .block .content {
  padding: 0 15px;
}
/* line 106, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar ul.navigation li a:link, body.wat #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}
/* line 111, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #sidebar .block .sidebar-block, body.wat #sidebar .notice {
  padding: 10px;
}
/* line 117, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #wrapper {
  padding-top: 20px;
}
/* line 121, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}
/* line 126, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #user-navigation ul {
  list-style-type: none;
}
/* line 129, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #user-navigation ul li {
  padding: 5px 10px;
}
/* line 135, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main-navigation {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 141, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main-navigation ul {
  list-style-type: none;
}
/* line 144, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main-navigation ul li {
  margin-right: 5px;
}
/* line 147, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}
/* line 158, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #user-navigation ul li, body.wat #main-navigation ul li, body.wat .secondary-navigation ul li {
  float: left;
}
/* line 165, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #main-navigation ul li a:link, body.wat #main-navigation ul li a:visited, body.wat #main-navigation ul li a:hover, body.wat #main-navigation ul li a:active,
body.wat .secondary-navigation ul li a:link, body.wat .secondary-navigation ul li a:visited, body.wat .secondary-navigation ul li a:hover, body.wat .secondary-navigation ul li a:active,
body.wat #user-navigation ul li a:link, body.wat #user-navigation ul li a:visited, body.wat #user-navigation ul li a:hover, body.wat #user-navigation ul li a:active {
  text-decoration: none;
}
/* line 170, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .secondary-navigation {
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
/* line 175, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .secondary-navigation ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 178, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}
/* line 186, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #footer {
  /*padding-bottom: 20px;*/
}
/* line 193, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .pagination a, body.wat .pagination span, body.wat .pagination em {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}
/* line 202, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .pagination em {
  font-weight: bold;
}
/* line 206, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .pagination a {
  text-decoration: none;
}
/* line 212, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
/* line 217, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
/* line 223, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table th:first-child {
  width: 30px;
}
/* line 227, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table th:last-child {
  width: 200px;
}
/* line 231, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table .checkbox {
  margin-left: 10px;
}
/* line 235, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table td {
  padding: 10px;
}
/* line 239, ../../../app/stylesheets/partials/_hibou.scss */
body.wat table td:last-child {
  text-align: right;
}
/* line 246, ../../../app/stylesheets/partials/_hibou.scss */
body.wat input[type=checkbox] {
  margin: 0;
  padding: 0;
}
/* line 253, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form > div {
  margin-bottom: 15px;
}
/* line 257, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form div.left {
  width: 20%;
  float: left;
}
/* line 262, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form div.right {
  width: 75%;
  float: right;
}
/* line 268, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form .columns .column {
  width: 48%;
}
/* line 272, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form .columns .left {
  float: left;
}
/* line 276, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form .columns .right {
  float: right;
}
/* line 281, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form label, body.wat form input[type=text], body.wat form input[type=password], body.wat form input[type=number], body.wat form input[type=email], body.wat form textarea {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}
/* line 287, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form label.right {
  text-align: right;
}
/* line 291, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form input[type=checkbox], body.wat form input[type=radio] {
  margin-right: 5px;
}
/* line 295, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form label.checkbox, body.wat form label.radio {
  line-height: 1.5em;
}
/* line 299, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
/* line 305, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form div.fieldWithErrors label {
  display: inline;
}
/* line 309, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form .fieldWithErrors .error {
  color: red;
}
/* line 313, ../../../app/stylesheets/partials/_hibou.scss */
body.wat form input[type=text], body.wat form input[type=password], body.wat form input[type=number], body.wat form input[type=email], body.wat form textarea {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}
/* line 322, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 327, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list li {
  clear: left;
  padding-bottom: 5px;
}
/* line 331, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list li .left {
  float: left;
}
/* line 334, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}
/* line 340, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list li .item {
  margin-left: 80px;
}
/* line 343, ../../../app/stylesheets/partials/_hibou.scss */
body.wat ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}
/* line 356, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #box {
  width: 500px;
  margin: 50px auto;
}
/* line 360, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #box .block {
  margin-bottom: 20px;
}
/* line 363, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #box .block h2 {
  padding: 10px 15px;
  margin: 0;
}
/* line 368, ../../../app/stylesheets/partials/_hibou.scss */
body.wat #box .block .content {
  padding: 10px 20px;
}
/* line 377, ../../../app/stylesheets/partials/_hibou.scss */
body.wat a.button:link, body.wat a.button:visited, body.wat a.button:hover, body.wat a.button:active, body.wat button.button {
  color: #222;
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #eee;
  border: 1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px 6px 7px;
  text-decoration: none;
}
/* line 392, ../../../app/stylesheets/partials/_hibou.scss */
body.wat button.button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  /* IE6 */
}
/* line 398, ../../../app/stylesheets/partials/_hibou.scss */
body.wat button.button[type] {
  padding: 5px 10px 5px 7px;
  /* Firefox */
  line-height: 17px;
  /* Safari */
}
/* line 403, ../../../app/stylesheets/partials/_hibou.scss */
body.wat *:first-child + html button.button[type] {
  padding: 4px 10px 3px 7px;
  /* IE7 */
}
/* line 407, ../../../app/stylesheets/partials/_hibou.scss */
body.wat button.button img, body.wat a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}
/* line 415, ../../../app/stylesheets/partials/_hibou.scss */
body.wat button.button:hover, body.wat a.button:hover {
  background-color: #dedede;
}
/* line 419, ../../../app/stylesheets/partials/_hibou.scss */
body.wat button.button:active, body.wat a.button:active {
  background-color: #e5e5e5;
}
/* line 423, ../../../app/stylesheets/partials/_hibou.scss */
body.wat .navbuttons {
  overflow: hidden;
  *zoom: 1;
}
/* line 13, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
/* line 22, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .gray {
  color: #999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em;
}
/* line 33, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .highlight {
  background-color: #ffff88;
  font-weight: bold;
  color: #36393d;
}
/* line 39, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat a:link, body.wat a:visited, body.wat a:hover, body.wat a:active, body.wat h1, body.wat h2, body.wat h3 {
  color: #36393d;
}
/* line 40, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat a {
  -moz-outline: none;
}
/* line 42, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
/* line 47, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #header {
  background: #36393d;
}
/* line 50, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #header h1 {
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
/* line 59, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #header h1 a:link, body.wat #header h1 a:active, body.wat #header h1 a:hover, body.wat #header h1 a:visited {
  color: #FFF;
}
/* line 64, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #header h3 {
  color: white;
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 0 0 28px;
  padding: 23px 0px 19px;
}
/* line 73, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #user-navigation {
  top: auto;
  bottom: 3px;
  right: 25px;
}
/* line 78, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #user-navigation a.logout {
  background: #cc0000;
  padding: 1px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
}
/* line 87, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main .block .content {
  background: #FFF;
  padding-top: 1px;
}
/* line 91, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
/* line 101, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}
/* line 112, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar .block {
  background: #FFF;
}
/* line 115, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar .block h4 {
  font-weight: bold;
}
/* line 120, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar .notice {
  background: #E6EEFC;
}
/* line 123, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar .notice h4 {
  color: #0B43A8;
}
/* line 128, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar h3 {
  background: #36393d;
  color: #FFF;
  border-bottom: 5px solid #1a1a1a;
}
/* line 136, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li {
  padding-left: 15px;
}
/* line 139, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li a {
  padding: 8px 0;
}
/* line 144, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li.active {
  padding: 0;
  margin-left: 15px;
}
/* line 148, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li.active a {
  padding: 8px 15px;
}
/* line 154, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar ul li a:link, body.wat #sidebar ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none;
}
/* line 160, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar ul li a:hover, body.wat #sidebar ul li a:active {
  background: #666666;
  color: #ffffff;
}
/* line 165, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation {
  background: #1a1a1a;
}
/* line 168, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li {
  background: #1a1a1a;
  margin-right: 0;
}
/* line 173, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li.active {
  background: #f0f0ee;
}
/* line 176, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li.active a:link, body.wat #main-navigation ul li.active a:visited, body.wat #main-navigation ul li.active a:hover, body.wat #main-navigation ul li.active a:active {
  color: #1a1a1a;
}
/* line 185, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main-navigation ul li a:link, body.wat #main-navigation ul li a:visited, body.wat #main-navigation ul li a:hover, body.wat #main-navigation ul li a:active,
body.wat .secondary-navigation ul li a:link, body.wat .secondary-navigation ul li a:visited, body.wat .secondary-navigation ul li a:hover, body.wat .secondary-navigation ul li a:active,
body.wat #user-navigation ul li a:link, body.wat #user-navigation ul li a:visited, body.wat #user-navigation ul li a:hover, body.wat #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}
/* line 190, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .secondary-navigation {
  background: #36393d;
  border-bottom-color: #1a1a1a;
  border-bottom-width: 5px;
}
/* line 195, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .secondary-navigation li a:hover {
  background: #666666;
}
/* line 199, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .secondary-navigation li.active, body.wat .secondary-navigation li.active a:hover {
  background-color: #1a1a1a;
}
/* line 205, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #footer .block {
  color: #FFF;
  background: #1a1a1a;
}
/* line 209, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #footer .block p {
  margin: 0;
  padding: 10px;
}
/* line 219, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .pagination a, body.wat .pagination span {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1;
}
/* line 225, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .pagination em {
  background: #36393d;
  color: #FFF;
  border: 1px solid #36393d;
}
/* line 231, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .pagination a {
  color: #1a1a1a;
}
/* line 235, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .pagination a:hover {
  border: 1px solid #666;
}
/* line 243, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat table th {
  background: #36393d;
  color: #FFF;
}
/* line 248, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat table td {
  border-bottom: 1px solid #F0F0EE;
}
/* line 252, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat table tr:nth-child(odd) {
  background: #ebebeb;
}
/* line 256, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat table th:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
/* line 265, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat form label {
  color: #666666;
}
/* line 269, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat form input[type=text], body.wat form textarea {
  width: 100%;
  border: 1px solid #cfcfcf;
}
/* line 274, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat form input.button {
  background: #cfcfcf;
  -moz-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #36393d;
  font-weight: bold;
  font-size: 11px;
}
/* line 285, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat form input.button:hover {
  border: 1px solid #666;
}
/* line 289, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}
/* line 298, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px;
}
/* line 304, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .flash .message p {
  margin: 8px;
}
/* line 309, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
/* line 314, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
/* line 319, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}
/* line 327, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* line 332, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat ul.list li .item .avatar {
  border-color: #F0F0EE;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
/* line 342, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #box .block {
  background: #FFF;
}
/* line 345, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #box .block h2 {
  background: #36393d;
  color: #FFF;
}
/* line 351, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .navbuttons a {
  color: #cc0000;
}
/* line 358, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #main, body.wat #main-navigation, body.wat #main-navigation li, body.wat .secondary-navigation, body.wat #main .block, body.wat #sidebar .block, body.wat #sidebar h3, body.wat ul.list li,
body.wat #footer .block, body.wat .form input.button, body.wat #box .block, body.wat #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
/* line 365, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .secondary-navigation li:first-child a, body.wat .secondary-navigation ul li:first-child, body.wat table th:first-child, body.wat table th:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
/* line 370, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat .secondary-navigation ul li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
/* line 375, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.wat #sidebar, body.wat #sidebar .block, body.wat #main .block, body.wat #sidebar ul.navigation, body.wat ul.list li, body.wat #footer .block, body.wat form input.button, body.wat #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
