html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

/* line 4, ../../../app/stylesheets/partials/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 8, ../../../app/stylesheets/partials/_sticky-footer.scss */
#container {
  min-height: 100%;
}

/* line 12, ../../../app/stylesheets/partials/_sticky-footer.scss */
#wrapper {
  overflow: auto;
  padding-bottom: 34px;
}

/* line 17, ../../../app/stylesheets/partials/_sticky-footer.scss */
#footer {
  position: relative;
  margin-top: -34px;
  height: 34px;
  clear: both;
}

/*

    Drastic Dark
    by Juan Maria Martinez Arce
       juan[at]insignia4u.com
*/
/* line 16, ../../../app/stylesheets/screen.scss */
body.hibou {
  font-size: 12px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /*#sidebar {*/
  /*width: 25%;*/
  /*float: right;*/
  /*h3 {*/
  /*padding: 10px 15px;*/
  /*margin: 0;*/
  /*font-size: 13px;*/
  /*}*/
  /*.block {*/
  /*margin-bottom: 20px;*/
  /*padding-bottom: 10px;*/
  /*}*/
  /*.block .content {*/
  /*padding: 0 15px;*/
  /*}*/
  /*ul.navigation li a:link, ul.navigation li a:visited {*/
  /*display: block;*/
  /*padding: 10px 15px;*/
  /*}*/
  /*.block .sidebar-block, .notice {*/
  /*padding:10px;*/
  /*}*/
  /*}*/
  /*.actions-bar {*/
  /*@include clearfix;*/
  /*padding: 10px 1px;*/
  /*.actions {*/
  /*float: left;*/
  /*}*/
  /*.pagination {*/
  /*float: right;*/
  /*padding: 1px 0;*/
  /*}*/
  /*}*/
  /*.pagination {*/
  /*a, span, em {*/
  /*padding: 2px 5px;*/
  /*margin-right: 5px;*/
  /*display: block;*/
  /*float: left;*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*}*/
  /*em {*/
  /*font-weight: bold;*/
  /*}*/
  /*a {*/
  /*text-decoration: none;*/
  /*}*/
  /*}*/
  /* tables */
  /* lists */
  /*ul.list {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style-type: none;*/
  /*li {*/
  /*clear: left;*/
  /*padding-bottom: 5px;*/
  /*.left {*/
  /*float: left;*/
  /*.avatar {*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*}*/
  /*}*/
  /*.item {*/
  /*margin-left: 80px;*/
  /*.avatar {*/
  /*float: left;*/
  /*margin: 0 5px 5px 0;*/
  /*width: 30px;*/
  /*height: 30px;*/
  /*}*/
  /*}*/
  /*}*/
  /*}*/
  /*  Inspired by http://particletree.com/features/rediscovering-the-button-element */
  /*a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {*/
  /*color: #222;*/
  /*display:block;*/
  /*float:left;*/
  /*margin:0 7px 0 0;*/
  /*background-color: #eee;*/
  /*border:1px solid #bfbfbf;*/
  /*font-size: 1em;*/
  /*line-height: 1.3em;*/
  /*font-weight:bold;*/
  /*cursor:pointer;*/
  /*padding:5px 10px 6px 7px;*/
  /*text-decoration: none;*/
  /*}*/
  /*button.button {*/
  /*width:auto;*/
  /*overflow:visible;*/
  /*padding:4px 10px 3px 7px; */
  /* IE6 */
  /*}*/
  /*button.button[type] {*/
  /*padding:5px 10px 5px 7px; */
  /* Firefox */
  /*line-height:17px; */
  /* Safari */
  /*}*/
  /**:first-child+html button.button[type] {*/
  /*padding:4px 10px 3px 7px; */
  /* IE7 */
  /*}*/
  /*button.button img, a.button img {*/
  /*margin:0 3px -3px 0 !important;*/
  /*padding:0;*/
  /*border:none;*/
  /*width:16px;*/
  /*height:16px;*/
  /*}*/
  /*button.button:hover, a.button:hover {*/
  /*background-color:#dedede;*/
  /*}*/
  /*button.button:active, a.button:active {*/
  /*background-color:#e5e5e5;*/
  /*}*/
  /*.navbuttons {*/
  /*@include clearfix;*/
  /*}*/
  color: #222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;
  /*#sidebar {*/
  /*.block {*/
  /*background: #FFF;*/
  /*h4 {*/
  /*font-weight: bold;*/
  /*}*/
  /*}*/
  /*.notice {*/
  /*background: #E6EEFC;*/
  /*h4 {*/
  /*color: #0B43A8;*/
  /*}*/
  /*}*/
  /*h3 {*/
  /*background: #36393d;*/
  /*color: #FFF;*/
  /*border-bottom: 5px solid #1a1a1a;*/
  /*}*/
  /*}*/
  /*#sidebar ul li a:link, #sidebar ul li a:visited {*/
  /*background: #FFF;*/
  /*border-bottom: 1px solid #F0F0EE;*/
  /*text-decoration: none;*/
  /*}*/
  /*#sidebar ul li a:hover, #sidebar ul li a:active {*/
  /*background: #666666;*/
  /*color: #ffffff;;*/
  /*}*/
  /* pagination */
  /*.pagination {*/
  /*a, span {*/
  /*background: #cfcfcf;*/
  /*-moz-border-radius: 3px;*/
  /*border: 1px solid #c1c1c1;*/
  /*}*/
  /*em {*/
  /*background: #36393d;*/
  /*color: #FFF;*/
  /*border: 1px solid #36393d;*/
  /*}*/
  /*a {*/
  /*color: #1a1a1a;*/
  /*}*/
  /*a:hover {*/
  /*border: 1px solid #666;*/
  /*}*/
  /*}*/
  /* tables */
  /*.small {*/
  /*font-size: 11px;*/
  /*font-style: normal;*/
  /*font-weight: normal;*/
  /*text-transform: normal;*/
  /*letter-spacing: normal;*/
  /*line-height: 1.4em;*/
  /*}*/
  /*.gray {*/
  /*color:#999999;*/
  /*font-family: Georgia, serif;*/
  /*font-size: 13px;*/
  /*font-style: italic;*/
  /*font-weight: normal;*/
  /*text-transform: normal;*/
  /*letter-spacing: normal;*/
  /*line-height: 1.6em;*/
  /*}*/
  /*.highlight {*/
  /*background-color: #ffff88;*/
  /*font-weight: bold;*/
  /*color: #36393d;*/
  /*}*/
  /* flash-messages */
  /*.flash {*/
  /*.message {*/
  /*-moz-border-radius: 3px;*/
  /*-webkit-border-radius: 3px;*/
  /*text-align:center;*/
  /*margin: 0 auto 15px;*/
  /*p {*/
  /*margin:8px;*/
  /*}*/
  /*}*/
  /*.error {*/
  /*border: 1px solid #fbb;*/
  /*background-color: #fdd;*/
  /*}*/
  /*.warning {*/
  /*border: 1px solid #fffaaa;*/
  /*background-color: #ffffcc;*/
  /*}*/
  /*.notice {*/
  /*border: 1px solid #1FDF00;*/
  /*background-color: #BBFFB6;*/
  /*}*/
  /*}*/
  /* lists */
  /*ul.list li {*/
  /*border-bottom-color: #F0F0EE;*/
  /*border-bottom-width: 1px;*/
  /*border-bottom-style: solid;*/
  /*.item .avatar {*/
  /*border-color: #F0F0EE;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*padding: 2px;*/
  /*}*/
  /*}*/
  /* box */
  /*.navbuttons a {*/
  /*color: #cc0000;*/
  /*}*/
  /* rounded borders */
}
/* line 9, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal;
}
/* line 10, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal;
}
/* line 11, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal;
}
/* line 12, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal;
}
/* line 13, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou hr {
  height: 1px;
  border: 0;
}
/* line 14, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou p {
  margin: 15px 0;
}
/* line 15, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou a img {
  border: none;
}
/* line 17, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #container {
  min-width: 960px;
}
/* line 21, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #header {
  position: relative;
  padding: 1px 20px 0 20px;
}
/* line 25, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 26px;
  float: left;
}
/* line 31, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #header h1 a:link, body.hibou #header h1 a:active, body.hibou #header h1 a:hover, body.hibou #header h1 a:visited {
  text-decoration: none;
}
/* line 36, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #header h3 {
  float: left;
  font-size: 18px;
  line-height: 18px;
  margin: 0 0 0 26px;
  padding: 18px 0px 14px;
}
/* line 45, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;
}
/* line 50, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #user-navigation ul {
  list-style-type: none;
}
/* line 53, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #user-navigation ul li {
  float: left;
  padding: 5px 10px;
}
/* line 57, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #user-navigation ul li a:link, body.hibou #user-navigation ul li a:visited, body.hibou #user-navigation ul li a:hover, body.hibou #user-navigation ul li a:active {
  text-decoration: none;
}
/* line 64, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main-navigation {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 69, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main-navigation ul {
  list-style-type: none;
}
/* line 72, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main-navigation ul li {
  float: left;
  margin-right: 5px;
}
/* line 76, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}
/* line 82, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main-navigation ul li a:link, body.hibou #main-navigation ul li a:visited, body.hibou #main-navigation ul li a:hover, body.hibou #main-navigation ul li a:active {
  text-decoration: none;
}
/* line 90, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #wrapper {
  padding: 20px 20px 0 20px;
}
/* line 94, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #footer {
  padding: 0 20px;
}
/* line 98, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main {
  width: 70%;
  float: left;
}
/* line 102, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}
/* line 107, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #main .block .content .inner {
  padding: 0 15px 15px;
}
/* line 112, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box {
  width: 600px;
  margin: 100px auto;
}
/* line 116, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box .block {
  margin-bottom: 20px;
}
/* line 119, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box .block h2 {
  padding: 10px 15px;
  margin-bottom: 15px;
}
/* line 124, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box .block .content {
  padding: 10px 20px;
}
/* line 132, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset > ol > li {
  display: block;
  *zoom: 1;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.8.7-p174@hibou/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.hibou #box form.formtastic fieldset > ol > li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 136, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset > ol > li label {
  float: left;
  width: 30%;
  text-align: right;
}
/* line 142, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset > ol > li input {
  float: left;
  width: 55%;
  margin-left: 5%;
}
/* line 148, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset > ol > li p {
  float: left;
  margin-left: 35%;
}
/* line 154, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset.buttons li {
  margin-left: 35%;
}
/* line 157, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #box form.formtastic fieldset.buttons li input {
  float: left;
  width: auto;
  margin: 0;
}
/* line 168, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #login li.commit input.create {
  background: #eeeeee url("../../images/key_go.png") no-repeat 5px 45%;
}
/* line 174, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #profile form.formtastic fieldset > ol > li.password input {
  width: 13em;
}
/* line 178, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou #profile li.commit input.update {
  background: #eeeeee url("../../images/key.png") no-repeat 5px 45%;
}
/* line 213, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .secondary-navigation {
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}
/* line 218, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .secondary-navigation ul {
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
}
/* line 223, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .secondary-navigation ul li {
  float: left;
}
/* line 226, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;
}
/* line 231, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .secondary-navigation ul li a:link, body.hibou .secondary-navigation ul li a:visited, body.hibou .secondary-navigation ul li a:hover, body.hibou .secondary-navigation ul li a:active {
  text-decoration: none;
}
/* line 240, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .history .previous, body.hibou .history .current, body.hibou .history .next {
  display: inline-block;
}
/* line 244, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .history .previous {
  width: 25%;
  float: left;
}
/* line 249, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .history .current {
  width: 49%;
  text-align: center;
}
/* line 254, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou .history .next {
  width: 25%;
  float: right;
  text-align: right;
}
/* line 297, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}
/* line 302, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}
/* line 308, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table th:first-child {
  width: 30px;
}
/* line 312, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table th:last-child {
  width: 200px;
}
/* line 316, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table .checkbox {
  margin-left: 10px;
}
/* line 320, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table td {
  padding: 10px;
}
/* line 325, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table td:last-child ul {
  list-style-type: none;
  float: right;
}
/* line 329, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table td:last-child ul li {
  padding: 0 .25em;
  float: left;
}
/* line 333, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table td:last-child ul li:before {
  content: "| ";
}
/* line 336, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou table td:last-child ul li:first-child:before {
  content: "";
}
/* line 346, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic > fieldset {
  margin-bottom: 15px;
}
/* line 350, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic ol, body.hibou form.formtastic ul {
  list-style: none;
}
/* line 356, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li {
  margin-bottom: 15px;
}
/* line 359, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li label {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1px 0 2px 0;
  margin: 0;
}
/* line 367, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li input, body.hibou form.formtastic fieldset > ol > li textarea {
  border-width: 1px;
  border-style: solid;
}
/* line 372, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.string input, body.hibou form.formtastic fieldset > ol > li.numeric input, body.hibou form.formtastic fieldset > ol > li.password input, body.hibou form.formtastic fieldset > ol > li.email input, body.hibou form.formtastic fieldset > ol > li.text textarea {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
  width: 100%;
}
/* line 379, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.password input {
  width: 13em;
}
/* line 384, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.boolean, body.hibou form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin-bottom: 0;
}
/* line 387, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.boolean label, body.hibou form.formtastic fieldset > ol > li.radio fieldset ol li label {
  padding: 0;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 394, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.boolean input, body.hibou form.formtastic fieldset > ol > li.radio fieldset ol li input {
  margin-right: 5px;
}
/* line 402, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.date fieldset ol li, body.hibou form.formtastic fieldset > ol > li.time fieldset ol li, body.hibou form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
}
/* line 407, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.date fieldset ol li label, body.hibou form.formtastic fieldset > ol > li.time fieldset ol li label, body.hibou form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}
/* line 410, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.date fieldset ol li label input, body.hibou form.formtastic fieldset > ol > li.time fieldset ol li label input, body.hibou form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 420, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > ol > li.error p.inline-errors {
  color: red;
  margin: 0;
}
/* line 426, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset > legend > span {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
}
/* line 438, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset.buttons li.commit input {
  color: #222;
  display: block;
  float: left;
  margin: 0 7px 0 0;
  border: 1px solid #bfbfbf;
  font-size: 1em;
  line-height: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  overflow: visible;
  padding: 5px 10px 5px 27px;
}
/* line 453, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset.buttons li.commit input.create, body.hibou form.formtastic fieldset.buttons li.commit input.update {
  background: #eeeeee url("../../images/tick.png") no-repeat 5px 45%;
}
/* line 457, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset.buttons li.commit input:over {
  background-color: #dedede;
}
/* line 461, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset.buttons li.commit input:active {
  background-color: #e5e5e5;
}
/* line 466, ../../../app/stylesheets/partials/_hibou.scss */
body.hibou form.formtastic fieldset.buttons li.cancel {
  padding: 8px 0 0 0;
}
/* line 14, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou a:link, body.hibou a:visited, body.hibou a:hover, body.hibou a:active, body.hibou h1, body.hibou h2, body.hibou h3 {
  color: #36393d;
}
/* line 15, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou a {
  -moz-outline: none;
}
/* line 17, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
/* line 22, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #header {
  background: #36393d;
}
/* line 25, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #header h1 {
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
/* line 34, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #header h1 a:link, body.hibou #header h1 a:active, body.hibou #header h1 a:hover, body.hibou #header h1 a:visited {
  color: #FFF;
}
/* line 39, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #header h3 {
  color: white;
  font-size: 18px;
  line-height: 1.2em;
  margin: 0 0 0 28px;
  padding: 23px 0px 19px;
}
/* line 48, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation {
  background: #1a1a1a;
}
/* line 51, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li {
  background: #1a1a1a;
  margin-right: 0;
  padding-left: 15px;
}
/* line 56, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li a {
  padding: 8px 0;
}
/* line 59, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li a:link, body.hibou #main-navigation ul li a:visited, body.hibou #main-navigation ul li a:hover, body.hibou #main-navigation ul li a:active {
  color: #FFF;
}
/* line 64, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li.active {
  background: #f0f0ee;
  padding: 0;
  margin-left: 15px;
}
/* line 69, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li.active a {
  padding: 8px 15px;
}
/* line 72, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main-navigation ul li.active a:link, body.hibou #main-navigation ul li.active a:visited, body.hibou #main-navigation ul li.active a:hover, body.hibou #main-navigation ul li.active a:active {
  color: #1a1a1a;
}
/* line 80, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #user-navigation {
  top: auto;
  bottom: 3px;
  right: 25px;
}
/* line 86, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #user-navigation ul li a:link, body.hibou #user-navigation ul li a:visited, body.hibou #user-navigation ul li a:hover, body.hibou #user-navigation ul li a:active {
  color: #FFF;
}
/* line 90, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #user-navigation ul li a.logout {
  background: url("../../images/key_delete.png") no-repeat 5px 45%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
  padding: 5px 10px 5px 27px;
}
/* line 99, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #footer .block {
  color: #FFF;
  background: #1a1a1a;
}
/* line 103, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #footer .block p {
  margin: 0;
  padding: 10px;
}
/* line 108, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #footer .block a {
  color: white;
}
/* line 113, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content {
  background: #FFF;
  padding-top: 1px;
}
/* line 117, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}
/* line 126, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content h2.history {
  margin-right: 15px;
}
/* line 129, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content h2.history .previous, body.hibou #main .block .content h2.history .next {
  font-size: 0.75em;
  font-weight: normal;
}
/* line 136, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content ul.child {
  list-style-type: none;
}
/* line 139, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main .block .content ul.child li {
  margin: 15px 0;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}
/* line 151, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #box .block {
  background: #FFF;
}
/* line 154, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #box .block h2 {
  background: #36393d;
  color: #FFF;
}
/* line 195, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation {
  background: #36393d;
  border-bottom-color: #1a1a1a;
  border-bottom-width: 5px;
}
/* line 201, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation ul li a:link, body.hibou .secondary-navigation ul li a:visited, body.hibou .secondary-navigation ul li a:hover, body.hibou .secondary-navigation ul li a:active {
  color: #FFF;
}
/* line 205, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation ul li a:hover {
  background: #666666;
}
/* line 209, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation ul li.active, body.hibou .secondary-navigation ul li.active a:hover {
  background-color: #1a1a1a;
}
/* line 243, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou table th {
  background: #36393d;
  color: #FFF;
}
/* line 248, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou table td {
  border-bottom: 1px solid #F0F0EE;
}
/* line 252, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou table tr:nth-child(odd) {
  background: #ebebeb;
}
/* line 256, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou table th:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
/* line 266, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou form.formtastic fieldset > ol > li label {
  color: #666666;
}
/* line 270, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou form.formtastic fieldset > ol > li.string input, body.hibou form.formtastic fieldset > ol > li.password input, body.hibou form.formtastic fieldset > ol > li.numeric input, body.hibou form.formtastic fieldset > ol > li.email input, body.hibou form.formtastic fieldset > ol > li.text textarea {
  border-color: #cfcfcf;
}
/* line 274, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou form.formtastic fieldset > ol > li p.inline-hints {
  margin: 0;
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}
/* line 282, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou form.formtastic fieldset > legend > span {
  color: #666666;
}
/* line 368, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #main, body.hibou #main-navigation, body.hibou #main-navigation li, body.hibou .secondary-navigation, body.hibou #main .block, body.hibou #sidebar .block, body.hibou #sidebar h3, body.hibou ul.list li,
body.hibou #footer .block, body.hibou .form input.button, body.hibou #box .block, body.hibou #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}
/* line 375, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation li:first-child a, body.hibou .secondary-navigation ul li:first-child, body.hibou table th:first-child, body.hibou table th:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
/* line 380, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou .secondary-navigation ul li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
/* line 385, ../../../app/stylesheets/partials/themes/_drastic-dark.scss */
body.hibou #sidebar, body.hibou #sidebar .block, body.hibou #main .block, body.hibou #sidebar ul.navigation, body.hibou ul.list li, body.hibou #footer .block, body.hibou form input.button, body.hibou #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}
