/*

    Drastic Dark
    by Juan Maria Martinez Arce
       juan[at]insignia4u.com
*/

@mixin drastic-dark {
  // todo define color constants in base.css
  color: #222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;

  a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #36393d; }
  a { -moz-outline: none; }

  hr {
    background: #f0f0ee;
    color: #f0f0ee;
  }

  #header {
    background: #36393d;

    h1 {
      padding: 15px 0;
      font-size: 28px;
      font-style: normal;
      font-weight: bold;
      text-transform: normal;
      letter-spacing: -1px;
      line-height: 1.2em;

      a:link, a:active, a:hover, a:visited {
        color: #FFF;
      }
    }

    h3 {
      color: white;
      font-size: 18px;
      line-height: 1.2em;
      margin: 0 0 0 28px;
      padding: 23px 0px 19px;
    }
  }

  #main-navigation {
    background: #1a1a1a;

    ul li {
      background: #1a1a1a;
      margin-right: 0;
      padding-left: 15px;

      a {
        padding: 8px 0;

        &:link, &:visited, &:hover, &:active {
          color: #FFF;
        }
      }

      &.active {
        background: #f0f0ee;
        padding: 0;
        margin-left: 15px;

        a {
          padding: 8px 15px;

          &:link, &:visited, &:hover, &:active {
            color: #1a1a1a;
          }
        }
      }
    }
  }

  #user-navigation {
    top: auto;
    bottom: 3px;
    right: 25px;

    ul li {
      a:link, a:visited, a:hover, a:active {
        color: #FFF;
      }

      a.logout {
        background: url("../../images/key_delete.png") no-repeat 5px 45%;
        -moz-border-radius: 4px;
        -webkit-border-radius: 3px;
        padding:5px 10px 5px 27px;
      }
    }
  }

  #footer .block {
    color: #FFF;
    background: #1a1a1a;

    p {
      margin: 0;
      padding: 10px;
    }

    a {
      color: white;
    }
  }

  #main .block .content {
    background: #FFF;
    padding-top: 1px;

    h2 {
      margin-left: 15px;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
      text-transform: normal;
      letter-spacing: -1px;
      line-height: 1.2em;

      &.history {
        margin-right: 15px;

        .previous, .next {
          font-size: 0.75em;
          font-weight: normal;
        }
      }
    }

    ul.child {
      list-style-type: none;

      li {
        margin: 15px 0;
        font-size: 1.2em;
        font-style: normal;
        font-weight: normal;
        text-transform: normal;
        letter-spacing: normal;
        line-height: 1.45em;
      }
    }
  }

  #box .block {
    background: #FFF;

    h2 {
      background: #36393d;
      color: #FFF;
    }
  }

  #sidebar {
    .block {
      background: #FFF;

      h4 {
        font-weight: bold;
      }
    }

    /*.notice {*/
      /*background: #E6EEFC;*/

      /*h4 {*/
        /*color: #0B43A8;*/
      /*}*/
    /*}*/

    h3 {
      background: #36393d;
      color: #FFF;
      border-bottom: 5px solid #1a1a1a;
    }

    /*ul li a:link, ul li a:visited {*/
      /*background: #FFF;*/
      /*border-bottom: 1px solid #F0F0EE;*/
      /*text-decoration: none;*/
    /*}*/

    /*ul li a:hover, ul li a:active {*/
      /*background: #666666;*/
      /*color: #ffffff;;*/
    /*}*/
  }

  .secondary-navigation {
    background: #36393d;
    border-bottom-color: #1a1a1a;
    border-bottom-width: 5px;

    ul li {
      a:link, a:visited, a:hover, a:active {
        color: #FFF;
      }

      a:hover {
        background: #666666;
      }

      &.active, &.active a:hover {
        background-color: #1a1a1a;
      }
    }
  }


  /* pagination */

  /*.pagination {*/
    /*a, span {*/
      /*background: #cfcfcf;*/
      /*-moz-border-radius: 3px;*/
      /*border: 1px solid #c1c1c1;*/
    /*}*/

    /*em {*/
      /*background: #36393d;*/
      /*color: #FFF;*/
      /*border: 1px solid #36393d;*/
    /*}*/

    /*a {*/
      /*color: #1a1a1a;*/
    /*}*/

    /*a:hover {*/
      /*border: 1px solid #666;*/
    /*}*/
  /*}*/

  /* tables */

  table {
    th {
      background: #36393d;
      color: #FFF;
    }

    td {
      border-bottom: 1px solid #F0F0EE;
    }

    tr:nth-child(odd) {
      background: #ebebeb;
    }

    th:last-child {
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
    }
  }

  form.formtastic {

    fieldset {
      > ol > li {
        label {
          color: #666666;
        }

        &.string input, &.password input, &.numeric input, &.email input, &.text textarea {
          border-color: #cfcfcf;
        }

        p.inline-hints {
          margin: 0;
          font-style: italic;
          color: #8C8C8C;
          font-size: .9em;
        }
      }

      > legend > span {
        color: #666666;
      }
    }
  }

  // before using, turn into mixins
  /*.small {*/
    /*font-size: 11px;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*text-transform: normal;*/
    /*letter-spacing: normal;*/
    /*line-height: 1.4em;*/
  /*}*/

  /*.gray {*/
    /*color:#999999;*/
    /*font-family: Georgia, serif;*/
    /*font-size: 13px;*/
    /*font-style: italic;*/
    /*font-weight: normal;*/
    /*text-transform: normal;*/
    /*letter-spacing: normal;*/
    /*line-height: 1.6em;*/
  /*}*/

  /*.highlight {*/
    /*background-color: #ffff88;*/
    /*font-weight: bold;*/
    /*color: #36393d;*/
  /*}*/

  /* flash-messages */
  /*.flash {*/
    /*.message {*/
      /*-moz-border-radius: 3px;*/
      /*-webkit-border-radius: 3px;*/
      /*text-align:center;*/
      /*margin: 0 auto 15px;*/

      /*p {*/
        /*margin:8px;*/
      /*}*/
    /*}*/

    /*.error {*/
      /*border: 1px solid #fbb;*/
      /*background-color: #fdd;*/
    /*}*/

    /*.warning {*/
      /*border: 1px solid #fffaaa;*/
      /*background-color: #ffffcc;*/
    /*}*/

    /*.notice {*/
      /*border: 1px solid #1FDF00;*/
      /*background-color: #BBFFB6;*/
    /*}*/
  /*}*/

  /* lists */

  /*ul.list li {*/
    /*border-bottom-color: #F0F0EE;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/

    /*.item .avatar {*/
      /*border-color: #F0F0EE;*/
      /*border-width: 1px;*/
      /*border-style: solid;*/
      /*padding: 2px;*/
    /*}*/
  /*}*/

  /* box */

  /*.navbuttons a {*/
    /*color: #cc0000;*/
  /*}*/

  /* rounded borders */

  #main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
  #footer .block, .form input.button, #box .block, #box .block h2 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
  }

  .secondary-navigation li:first-child a, .secondary-navigation ul li:first-child, table th:first-child, table th:first-child {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
  }

  .secondary-navigation ul li:first-child {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
  }

  #sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, form input.button, #box .block {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
  }
}