= semantic_form_for @family do |form|
  =form.semantic_errors
  =form.inputs do
    =form.input :name
    =form.input :sin

  = form.inputs :civic_number, :apartment, :street, :city, :province, :postal_code, :for => :address, :name => Family.human_attribute_name(:address)

  = form.buttons
