form.formtastic {
  width: 500px; }
  form.formtastic fieldset.buttons {
    margin: 0 0 0 25%;
    padding-left: 20px; }
  form.formtastic fieldset ol li label {
    margin-right: 20px;
    padding-top: 0.3em;
    text-align: right;
    font-weight: bold; }
  form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input {
    width: 60%; }
