/* CSS Document */
#child-healthcheck {
background: #fff url(../images/recto.png) no-repeat;
height: 635px;
margin: 0;
padding: 0;
position: relative;
width: 852px;
font-size: 20px;
}

div#child-name {
    left: 155px;
    position: absolute;
    top: 75px;
    width: 565px;
}

div#child-age {
    left: 155px;
    position: absolute;
    top: 185px;
    width: 565px;
}

div#child-snack-yes {
    left: 452px;
    position: absolute;
    top: 250px;
    width: 27px;
    padding: 10px 6px;
}

div#child-snack-no {
    left: 580px;
    position: absolute;
    top: 250px;
    width: 27px;
    padding: 10px 6px;
}

div#child-bottle-yes {
    left: 452px;
    position: absolute;
    top: 298px;
    width: 27px;
    padding: 10px 6px;
}

div#child-bottle-no {
    left: 580px;
    position: absolute;
    top: 298px;
    width: 27px;
    padding: 10px 6px;
}

div#child-nap-yes {
    left: 453px;
    position: absolute;
    top: 349px;
    width: 27px;
    padding: 10px 6px;
}

div#child-nap-no {
    left: 581px;
    position: absolute;
    top: 349px;
    width: 27px;
    padding: 10px 6px;
}

div#child-allergies-yes {
    left: 452px;
    position: absolute;
    top: 426px;
    width: 27px;
    padding: 10px 6px;
}

div#child-allergies-no {
    left: 580px;
    position: absolute;
    top: 426px;
    width: 27px;
    padding: 10px 6px;
}

div#child-allergies-notes {
    left: 155px;
    position: absolute;
    top: 485px;
    width: 535px;
}

div#child-general-notes {
    left: 155px;
    height: 70px;
    position: absolute;
    top: 570px;
    width: 535px;
}

#child-healthcheck-form p {
    margin: 20px 10px;
}

#child-healthcheck-form label {
<<<<<<< HEAD
    margin-right: 25px;
}
=======
margin-right: 25px;
}

>>>>>>> bbc646a21008794efe5a8668e43afa811a2f080e
