= semantic_form_for @booking do |form|

  =form.inputs do
    =form.input :child,  :as => :select,:collection => Child.all.collect {|child| [ "#{child.first_name} #{child.last_name}", child.id ]}, :prompt => "Select a child"
    =form.input :date
    =form.input :period, :as => :radio, :collection => ['AM','PM']

  =form.buttons do
    =form.commit_button 'Save'