%h1
  ="Schedule for #{Time.now.strftime('%Y-%m-%d')}"

%div{:id=>"am_schedule"}
  %h2
    Morning Schedule
  =render :partial => "schedule_table", :locals => { :bookings => @am_bookings }
%div{:id=>"pm_schedule"}
  %h2
    Afternoon Schedule
  =render :partial => "schedule_table", :locals => { :bookings => @pm_bookings }