%h1
  = "#{t :schedule_for} #{I18n.l Date.today, :format => :medium}}"

%div{:id=>"am_schedule"}
  %h2
    =t :am_schedule
  =render :partial => "schedule_table", :locals => { :bookings => @am_bookings }
%div{:id=>"pm_schedule"}
  %h2
    =t :pm_schedule
  =render :partial => "schedule_table", :locals => { :bookings => @pm_bookings }