%h1
  =t :booking_list
%div
  -@bookings.each do |booking|
    %p
      %span
        ="#{booking.child.first_name} #{booking.child.last_name}"
      %span
        =booking.date
      %span
        =booking.period
      %span
        =booking.payment_method