= link_to '<-', schedule_path(@schedule_date.yesterday.to_s(:db))
= I18n.l @schedule_date, :format => :full
= link_to '->', schedule_path(@schedule_date.tomorrow.to_s(:db))

%div{:id=>"am_schedule"}
  %h2
    =t :am_schedule
  =render :partial => "schedule_table", :locals => { :bookings => @am_bookings }
%div{:id=>"pm_schedule"}
  %h2
    =t :pm_schedule
  =render :partial => "schedule_table", :locals => { :bookings => @pm_bookings }