#main
  .block
    .secondary-navigation
      %ul
        %li= link_to t('list'), children_path
        %li.active= link_to t('new'), new_child_path
    .content
      %h2
        = t('booking.new')
      .inner
        = render 'form'