// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure the application, edit the partials/base.sass file.
@import "partials/base";

// Make footer sticky at bottom of screen
@import "partials/sticky-footer";

@include sticky-footer(34px, "#container", "#wrapper", "#footer");

// Import the hibou style and theme
@import "partials/hibou";
@import "partials/themes/drastic-dark";

body.hibou {
  @include hibou;
  @include drastic-dark;
}