<!DOCTYPE html>
<html>
<head>
  <title>Hibou</title>
  <%= stylesheet_link_tag 'reset', 'scaffold', 'formtastic', 'forms', 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
